/*@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');*/

body{
    overflow:auto;
    color: #000000;
}
.navbar{
    background: rgba(0, 0, 0, 1)!important;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.9rem;
    letter-spacing: 0.1rem;

}
.navbar-brand{
    padding-left: .2rem;
}
.navbar-nav li{
    padding-right: .7rem;
}
.nav-link{
    color: white;
    padding-top: .8rem;
}
.video-background{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
}
.caption{
    position: absolute;
    top: 38%;
    width: 100%;
    color: white;
}
.caption h1{
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: .2rem;
    text-shadow: .1rem .1rem .8rem black;
    padding-bottom: 1rem;
}
.caption h3{
    font-size: 2rem;
    text-shadow: .1rem .1rem .5rem black;
    padding-bottom: 1.6rem;
}
.btn-lg{
    border-width: medium;
    border-radius: 0;
    font-size: 1.1rem;
    padding: .6rem 1.3rem;
}
/*============== COURSE SECTION==================*/
.col-md-8{
    margin: 2rem auto 6rem;
    padding-top: 2rem;
}
.col-md-8 h1{
    font-size:2.4rem;
}
.border-top{
    padding-bottom: 0.5rem;
    padding-top: 1rem;
}
/*.btn-secondary{
    border-width: medium;
    border-radius: 0;
    padding: .6rem 1.2rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin: 1rem;
    border-color: #1ebba3;
    background-color: #1ebba3;
    color: white;
}
.btn-secondary:hover,
.btn-secondary:focus{
    border-color: #189582;
    background-color: #189582;
    color:white;
}*/
.container{
        background-color: white;
    }
    #btn{
        margin: 10px auto;
        height: 50px;
        width: 250px;
        font-size: 22px;
        background-color:white;
    }
    #output{
        margin: 25px auto;
        font-size: 26px;
        color: black;
        font-style: italic;
    }
    .container1{
        background-color: white;
    }
    #btn1{
        margin: 10px auto;
        height: 50px;
        width: 250px;
        font-size: 22px;
        background-color:white;
    }
    #output1{
        margin: 25px auto;
        font-size: 26px;
        color: black;
        font-style: italic;
    }
    .container2{
        background-color: white;
    }
    #btn2{
        margin: 10px auto;
        height: 50px;
        width: 250px;
        font-size: 22px;
        background-color:white;
    }
    #output2{
        margin: 25px auto;
        font-size: 26px;
        color: black;
        font-style: italic;
    }
    