body{
    overflow: hidden;
    margin: 0;
    padding: 0;
    background: url(img/pic.jpg) no-repeat;
    background-size: cover;
}
/*=====Navbar====*/
.navbar{
    text-transform: uppercase;
    font-weight: 700;
    font-size:0.9rem;
    letter-spacing: .1rem;
    background: rgba(0,0,0,0.7)!important;
}
.navbar-brand{
    padding-left: .2rem;
}
.navbar-nav li{
    padding-right: .7rem;
}
.nav-link{
    color: white;
    padding-top: .8rem;
}
    .caption{
        position: absolute;
        top: 90%;
        width: 100%;
        color: white;
        align-items: center;
    }
    .caption h1{
        font-size: 1rem;
        font-weight: 200;
        letter-spacing: .5rem;
        text-shadow: .1rem .1rem .8rem black;
        padding-bottom: 1rem;
    }
    .gurmehr h1{
        float: top;
        font-size: 40px;
        color: white;
        border-bottom: 2px solid white;
    }
    .gurmehr{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        color: white;
        text-align: center;
    }
    input{
        width: 200px;
        margin-top: 20px;
        background: transparent;
        outline: none;
        padding: 10px;
        font-size: 13px;
        border-radius: 30px;
        border-color: white;
        box-shadow: 0 0 0.1px #fff;
        transition: box-shadow 0.5s ease;
        color: white;
        font-style: bold;
    }
    button{
        width: 100px;
        margin-top: 20px;
        background: white;
        opacity: 90%;
        color: black;
        outline: none;
        padding: 5px;
        font-size: 13px;
        border-radius: 30px;
        font-style: bold;
        transform: translateX(90%);
        display: flex;
        justify-content: center; 
    }
